<div class="leaflet-control-command-interior" title="Stations les plus proches">
    <ul>
        <li class="available-bikes">Vélo disponible le plus proche&nbsp;:
            {{#if closest_available_bike}}
            <strong>{{closest_available_bike.data.name}}</strong> ({{closest_available_bike.distance}}&nbsp;m)
            {{else}}
            pas à proximité :( essayez de dézoomer...
            {{/if}}
        </li>
        <li class="free-slots">Borne disponible la plus proche&nbsp;:
            {{#if closest_free_slot}}
            <strong>{{closest_free_slot.data.name}}</strong> ({{closest_free_slot.distance}}&nbsp;m)
            {{else}}
            pas à proximité :( essayez de dézoomer...
            {{/if}}
        </li>
    </ul>
</div>