<div class="leaflet-control-command-interior" title="Stations les plus proches">
    <ul>
        <li style="{{bikes_style}}">{{closest_bike}}&nbsp;:
            {{#if closest_available_bike}}
            <strong>{{closest_available_bike.data.name}}</strong> ({{closest_available_bike.distance}}&nbsp;m)
            {{else}}
            {{no_bike}}
            {{/if}}
        </li>
        <li style="{{slots_style}}">{{closest_slot}}&nbsp;:
            {{#if closest_free_slot}}
            <strong>{{closest_free_slot.data.name}}</strong> ({{closest_free_slot.distance}}&nbsp;m)
            {{else}}
            {{no_slot}}
            {{/if}}
        </li>
    </ul>
</div>